CREATE DATABASE DBAlquierAutos
GO
USE [DBAlquierAutos]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Automoviles](
	[IdAutomovil] [INT] IDENTITY(1,1) NOT NULL,
	[Matricula] [VARCHAR](10) NOT NULL,
	[Modelo] [VARCHAR](25) NOT NULL,
	[Marca] [VARCHAR](25) NOT NULL,
	[Cuota] [DECIMAL](10, 2) NOT NULL,
	[IdOwner] [INT] NOT NULL,
	[Disponibilidad] [BIT] NOT NULL,
	[UrlFoto] [VARCHAR](MAX) NOT NULL,
 CONSTRAINT [PK_Automoviles] PRIMARY KEY CLUSTERED 
(
	[IdAutomovil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[IdPersona] [INT] IDENTITY(1,1) NOT NULL,
	[Telefono] [NVARCHAR](20) NOT NULL,
	[Direccion] [VARCHAR](100) NOT NULL,
	[Nombre] [VARCHAR](50) NOT NULL,
	[Correo] [VARCHAR](100) NOT NULL,
	[Cargo] [INT] NOT NULL,
	[Disponibilidad] [BIT] NOT NULL,
	[UrlFoto] [VARCHAR](MAX) NOT NULL,
 CONSTRAINT [PK_Personas] PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salidas](
	[IdSalida] [INT] IDENTITY(1,1) NOT NULL,
	[FechaHoraSalida] [datetime] NOT NULL,
	[Destino] [VARCHAR](MAX) NOT NULL,
	[Estado] [VARCHAR](25) NOT NULL,
	[IdAutomovil] [INT] NULL,
	[IdPersona] [INT] NULL,
 CONSTRAINT [PK_Salidas] PRIMARY KEY CLUSTERED 
(
	[IdSalida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Automoviles]  WITH CHECK ADD  CONSTRAINT [FK_Automoviles_Personas] FOREIGN KEY([IdOwner])
REFERENCES [dbo].[Personas] ([IdPersona])
GO
ALTER TABLE [dbo].[Automoviles] CHECK CONSTRAINT [FK_Automoviles_Personas]
GO
ALTER TABLE [dbo].[Salidas]  WITH CHECK ADD  CONSTRAINT [FK_Salidas_Automoviles] FOREIGN KEY([IdAutomovil])
REFERENCES [dbo].[Automoviles] ([IdAutomovil])
GO
ALTER TABLE [dbo].[Salidas] CHECK CONSTRAINT [FK_Salidas_Automoviles]
GO
ALTER TABLE [dbo].[Salidas]  WITH CHECK ADD  CONSTRAINT [FK_Salidas_Personas] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Personas] ([IdPersona])
GO
ALTER TABLE [dbo].[Salidas] CHECK CONSTRAINT [FK_Salidas_Personas]
GO
