CREATE DATABASE DBRentaAutos
GO
USE [DBRentaAutos]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Automoviles](
	[IdAutomovil] [INT] IDENTITY(1,1) NOT NULL,
	[Matricula] [VARCHAR](10) NOT NULL,
	[Modelo] [VARCHAR](25) NOT NULL,
	[Marca] [VARCHAR](25) NOT NULL,
	[Año] [CHAR](4) NOT NULL,
	[CuotaDia] [DECIMAL](10, 2) NOT NULL,
	[Disponibilidad] [BIT] NOT NULL,
	[UrlFoto] [VARCHAR](MAX) NOT NULL,
 CONSTRAINT [PK_Automoviles] PRIMARY KEY CLUSTERED 
(
	[IdAutomovil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [INT] IDENTITY(1,1) NOT NULL,
	[Nombre] [VARCHAR](50) NOT NULL,
	[Telefono] [NVARCHAR](20) NOT NULL,
	[Direccion] [VARCHAR](100) NOT NULL,	
	[Correo] [VARCHAR](100) NOT NULL,
	[UrlFoto] [VARCHAR](MAX) NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rentas](
	[IdRenta] [INT] IDENTITY(1,1) NOT NULL,
	[FechaHora] [DATETIME] NOT NULL,
	[Estado] [VARCHAR](10) NOT NULL,
	[IdAutomovil] [INT] NULL,
	[IdCliente] [INT] NULL,
 CONSTRAINT [PK_Rentas] PRIMARY KEY CLUSTERED 
(
	[IdRenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Rentas]  WITH CHECK ADD  CONSTRAINT [FK_Rentas_Automoviles] FOREIGN KEY([IdAutomovil])
REFERENCES [dbo].[Automoviles] ([IdAutomovil])
GO

ALTER TABLE [dbo].[Rentas] CHECK CONSTRAINT [FK_Rentas_Automoviles]
GO

ALTER TABLE [dbo].[Rentas]  WITH CHECK ADD  CONSTRAINT [FK_Rentas_Clientes] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO

ALTER TABLE [dbo].[Rentas] CHECK CONSTRAINT [FK_Rentas_Clientes]
GO
